<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit route</title>

</head>
<body>

<form method="post" action="#" th:action="@{/admin/newRegion}">
    <label>
        <select >
            <option th:name="rangeName" th:each="range : ${rangeList}" th:value="${range.id}" th:text="${range.name}"></option>
        </select>
    </label>
    <label>
        <select>
            <option th:each="region : ${regionList}" th:value="${region.id}" th:text="${region.name}"></option>
        </select>
    </label>
    <input type="submit" value="Pokaż trasy!"/>
</form>


<table>
    <thead>
    <th>Punkt początkowy</th>
    <th>Wysokość</th>
    <th>Punkt końcowy</th>
    <th>Wysokość</th>
    <th>Punkty pocz-kon</th>
    <th>Punkty kon-pocz</th>
    </thead>
    <tr th:each="route : ${routeList}" >
        <!--td th:text="${route.getId()}" th:name="idRoute"-->
        <td th:text="${route.getStartingPoint().getName()}"></td>
        <td th:text="${route.getStartingPoint().getHeight()}"></td>
        <td th:text="${route.getEndPoint().getName()}"></td>
        <td th:text="${route.getEndPoint().getHeight()}"></td>
        <td th:text="${route.getPointsStartToEnd()}"></td>
        <td th:text="${route.getPointsEndToStart()}"></td>
        <td><a th:href="@{/admin/editSpecyficRoute(idRoute=${route.getId()})}">Edytuj</a> </td>


    </tr>
</table>

</body>
</html>
