<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <label for="route"><input type="text" id="route" name="route" /></label>
    <label for="direction">
        <select id="direction">
            <option value="true">Wprzód</option>
            <option value="false">Od końca</option>
        </select>
    </label>
    <label for="date"><input type="date" id="date" name="date" /></label>
    <br/>
    <label><input type="submit" value="Dodaj trasę" /></label>
</form>
</body>
</html>