<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <h2 th:text="'Whaaat: ' + ${number}"></h2>
<form method="post" action="#" th:action="@{/processForm}">
    <input type="text" name="countryName" th:field="*{country.name}" placeholder="Country name?"/>
    <label>
        <select th:field="${country.name}">
            <option th:each="country : ${countryList}" th:value="${country.name}" th:text="${country.name}"></option>
        </select>
    </label>
    <input type="submit" value="Send!"/>
</form>
</body>
</html>
